@charset "UTF-8";
/* CSS Document */

#content #navega {
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #FFDF00;
}
#content #banner {
    height: 200px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #63FF91;
}
#content #mainhead {
    background-color: #FF62F6;
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#content #contenido {
    height: 600px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #FAFF72;
}
#content #footer {
    height: 150px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: #FE2A2D;
}
body {
    margin-top: 0vmax;
    margin-right: 0vmax;
    margin-bottom: 0vmax;
    margin-left: 0vmax;
}
